{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

        <p>Vítejte v audiozprávách. </p>
        <p> Pro zobrazení 10ti zpráv dané kategorie překlikávejte v navigačním panelu.</p> 
<!---<div class="uvod">
    <h1 class="h1-uvod">  Audiozprávy </h1>
    <h2 class="h2-uvod">  Využívejte svůj čas naplno </h1>
    <div class="uvod-button-podpora"> <a href=""> <b> <span class="green">$</span> Podpořte nás <span class="green">$</span></b> </a> </div>
</div>   

<div class="zalozky">
    <table class="zalozky-table">
        <tr class="zalozky-table-tr">
            <th class="zalozky-table-th"> <a href="/"> Nejnovější zprávy </a> </th>
            <th class="zalozky-table-th"> <a href=""> Domov</a> </th>
            <th class="zalozky-table-th"> <a href=""> Zahraničí</a> </th>
            <th class="zalozky-table-th"> <a href=""> Sport</a> </th>
            <th class="zalozky-table-th"> <a href=""> Byznys </a> </th>
            <th class="zalozky-table-th"> <a href=""> Kultura </a> </th>
            <th class="zalozky-table-th"> <a href=""> Zdraví </a> </th>
            <th class="zalozky-table-th"> <a href="">Cestování </a> </th>
            <th class="zalozky-table-th"> <a href=""> Relax </a> </th>
            <th class="zalozky-table-th"> <a href=""> Věda </a> </th>
            <th class="zalozky-table-th"> <a href=""> Auto </a> </th>
            <th class="zalozky-table-th"> <a href=""> Životní styl </a> </th>
            <th class="zalozky-table-th"> <a href=""> Historie </a> </th>
        </tr>
    </table>
</div>

<div class= "content">
    <table class="content-table">
        <tr>
            <th> <h2>Titulek </h2></th>    
        </tr>
    </table>
    <table>
        {% for zpravy in zpravy[1:10] %}
        <tr class="tr-index-summary">
               <td class="td-index-summary"> <a href="/">{{   zpravy.title  }} </td> </a>
        </tr>
        {% endfor %}
    </table>
</div>    --->

{% endblock %}