/*basic nastaveni, body html*/

body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

/*uvodni nadpis - vse kolem */

.uvod {
    margin:  0 auto;
    width: 100%;
    height: 100px;
    background: rgb(15, 11, 235);
    display: block;
}

.h1-uvod {
    position: absolute;
    margin-top:0.2em;
    margin-left:2.5em;
    color: rgb(231, 217, 16); 
    font-size: 55px;
    font-family:Brush Script MT, Brush Script Std, cursive;
}

.h2-uvod {
    position: absolute;
    margin-top:4.8em;
    margin-left:9em;
    color: rgb(255, 255, 255); 
    font-size: 15px;
    font-family:georgia;
}

.uvod-button-podpora {
    background-color: rgb(231, 217, 16); 
    border: none;
    color: rgb(15, 11, 235);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin-left:82em;
    margin-top:1em;
}

.uvod-button-podpora a:link {
    text-decoration: none;
    color: rgb(15, 11, 235);
}

.uvod-button-podpora a:active {
    text-decoration: none;
    color: rgb(15, 11, 235);
}

.uvod-button-podpora a:visited {
    color: rgb(15, 11, 235);
    background-color: transparent;
    text-decoration: none;
}

.uvod-button-podpora a:hover {
    color: rgb(255, 145, 2);
}

span.green{ 
    color:green; 
   } 
span.purple{ 
      color:purple; 
   } 




/*.uvod-button-podpora:hover {
    background-color: rgb(241, 201, 20);
}*/



/* lista zalozek */
.zalozky {
    margin:  0 auto;
    width: 100%;
    height: 2.8em;
    background: rgb(10, 7, 180);
    display: block;
    color: white;
    font-size: 20px;
}

.zalozky-table-td, .zalozky-table-th, th {
    border: 3px solid rgb(231, 217, 16);
}

.zalozky-table a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.zalozky-table a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.zalozky-table a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

.zalozky-table a:hover {
    color: rgb(255, 145, 2);
}

.zalozky-table-th:hover {
    font-size: 105%;
    background-color: rgb(79, 17, 141);
    text-emphasis-color:rgb(255, 145, 2);
}

.zalozky-table-tr, tr a {
    display:block;
    width:100%;
}

.zalozky-table-th, th {
    text-align: center;
    padding: 1.8px;
    width: 10em;
}


/* content */

.content {
    margin: 0 auto;
    width: 600px;
    margin-top: 1em;
    background-color: rgb(113, 170, 216);
}

.content-table table, td, th {
    border: 2px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}


td a {
    display:block;
    width:100%;
}


a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
 } 

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 145, 2);
    text-decoration: none;
  }

.tr-index-summary:hover, .td-index-summary:hover {
    background-color: rgb(79, 17, 141);
  }